<!DOCTYPE html>
<html lang="nl" >
<head>
  <title></title>
  <meta charset="UTF-8">
  <title>Word Fan met de gratis Locanza app van jouw favoriete lokale ondernemers</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="apple-itunes-app" content="app-id=1466501149"/>
  <meta name="google-play-app" content="app-id=com.locanza&hl=nl"/>
  <link rel="icon" href="./assets/favicon.ico">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/style.css">
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <!-- Navigation -->
      <nav class="navbar navbar-default navbar-transparent navbar-fixed-top" role="navigation">
          <div class="container">
              <div class="navbar-header page-scroll">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand page-scroll" href="#page-top">
                    <img src="./assets/wordfan.png" title="locanza.com"/ style="float:left;width:40px;height:40px;margin-top:-10px;marging-right:10px;">
                    <span class="credo">Word Fan</span>
                </a>
              </div>

              <div class="collapse navbar-collapse navbar-ex1-collapse">
                  <ul class="nav navbar-nav navbar-right">
                      <li class="hidden">
                          <a class="page-scroll" href="#page-top"></a>
                      </li>
                      <li>
                          <a class="page-scroll" href="#start">Word fan</a>
                      </li>
                      <li>
                          <a class="page-scroll" href="#ondernemers">Locanza ondernemers</a>
                      </li>
                      <li>
                          <a class="page-scroll" href="#faq">Meest gestelde vragen</a>
                      </li>
                      <li>
                          <a class="page-scroll" href="#snelstarten">Snel starten</a>
                      </li>

                  </ul>
              </div>
              <!-- /.navbar-collapse -->
          </div>
          <!-- /.container -->
      </nav>
<!-- Navigation -->

<!-- intro -->
<section id="intro" class="intro-section">
   <div class="container">
     <div class="col-lg-7">
      <p class="intro-txt extraspace">Wil jij geen enkele lokale aanbieding missen en sparen<br /> voor koopjes bij jou om de hoek?</p>
       <h1 class="h1-hero">WORD FAN<br />van lokale ondernemers</h1>
       <p class="intro-txt">Download de Locanza app en blijf op de hoogte van aanbiedingen van jouw favoriete winkel, marktkraam of pop-up store om de hoek. Spaar voor kortingen <span class="hilight">&nbsp;en steun tegelijkertijd de lokale ondernemer!&nbsp;</span></p>
     </div>
     <div class="row">
        <div class="col-lg-5">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rZPty1U01s4?rel=0" allowfullscreen></iframe>
          </div>
          <h2 class="h2-cta">Download de gratis Locanza app</h2>
          <a href="https://apps.apple.com/nl/app/locanza/id1466501149?mt=8">
            <img class="downloadhero" src="./assets/App-Store-Button.png" alt=""/>
          </a>
          <a href="https://play.google.com/store/apps/details?id=com.locanza&hl=nl">
            <img class="downloadhero" src="./assets/Google-Play-Button.png" alt=""/>
          </a>
        </div>
       </div>
   </div>
 </section>
<!-- intro -->

<!-- start -->
    <section id="start" class="about-section">
        <div class="container">
            <div class="row featurette">
                <div class="col-md-8">
                  <div class="text-left aos-animate" data-aos="fade-left">
                      <h2 class="wordfan">De voordelen op een rij</h2>
                      <ul>
                        <li><i class="fa fa-check-square"></i> Alle spaarprogramma ’s en lokale promoties overzichtelijk bij elkaar.</li>
                        <li><i class="fa fa-check-square"></i> Geef live feedback aan ondernemers over hoe je de service hebt ervaren.</li>
                        <li><i class="fa fa-check-square"></i> Laat je inspireren door de live feedback van andere fans.</li>
                        <li><i class="fa fa-check-square"></i> Ontdek de beste lokale producten en diensten.</li>
                        <li><i class="fa fa-check-square"></i> Locanza respecteert jouw privacy.</li>
                        <li><i class="fa fa-check-square"></i> Gratis in gebruik!</li>
                      </ul>
                  </div>
                </div>
                <div class="col-md-4 aos-animate" data-aos="fade-right">
                  <div class="alert alert-success" role="alert">
                    <p><i class="fa fa-info-circle "></i> Door de coronacrisis is het van belang elkaar de ruimte te geven.
                      Locanza app houdt rekening met Social Distancing met de functionaliteit 'Fan worden op ruim 1,5 meter'!</p>
                  </div>
                </div>
            </div>
        </div>
    </section>
<!-- start -->


<section id="carousel">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="5000">
          <!-- Carousel indicators -->
          <ol class="carousel-indicators">
            <li data-target="#fade-quote-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
            <li data-target="#fade-quote-carousel" data-slide-to="2"></li>
            <li data-target="#fade-quote-carousel" data-slide-to="3"></li>
          </ol>
          <!-- Carousel items -->
          <div class="carousel-inner">
            <i class="fa fa-quote-left"></i> <i class="fa fa-quote-right"></i>
              <div class="active item">
              <blockquote>
                <p>Makkelijk te gebruiken app. En geeft een goed gevoel om lokale ondernemers te steunen</i><br/> <span>- Gebruiker Bob G. -</span></p>
              </blockquote>
            </div>
              <div class="item">
              <blockquote>
                <p>Je bent altijd op de hoogte van de laatste promoties.<br/> <span>- Gebruiker Suzanne H. -</span></p>
              </blockquote>
            </div>
              <div class="item">
              <blockquote>
                <p>Ik bespaar zo heel makkelijk geld.<br/><span>- Gebruiker Petra K. -</span></p>
              </blockquote>
            </div>
              <div class="item">
              <blockquote>
                <p>Alle lokale winkels zo makkelijk te vinden.<br/><span>- Gebruiker Kees R. -</span></p>
              </blockquote>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- /#contentBoxApp -->
<section id="ondernemers" class="ondernemers-section">
<div id="contentBoxApp" ng-app="contentBoxApp">
  <div class="col-md-12 text-center">
    <h2>Word Fan van deze Locanza ondernemers</h2>
  </div>
  <div id="GridCtrl" class="" ng-controller="GridCtrl">
    <div class="container dynamic-grid">
      <article class="grid-item content-box" ng-repeat="(gridKey, gridItem) in gridItems | filter:filterBySearch">
        <div class="inner">
        <img class="content-box-thumb"src="{{ gridItem.img }}" alt="plaatje ondernemer" />
        <div class="innerpadding">
          <h1 class="content-box-header">{{ gridItem.headerText }}</h1>
          <p class="content-box-blurb">{{ gridItem.blurbText }}</p>
          <a class="readmore-link" href="{{ gridItem.linkUrl }}" ng-click="toggleBlurb($event)"><i class="fa fa-globe" aria-hidden="true"></i></a>
          <a class="readmore-link" href="{{ gridItem.linkLocation }}" ng-click="toggleBlurb($event)"><i class="fa fa-map-marker"></i></a>
          <!--<a class="readmore-link" href="{{ gridItem.linkdelivery }}" ng-click="toggleBlurb($event)"><i class="fa fa-truck"></i></a>-->
        </div>
        </div>
      </article><!-- /.content-box -->

    </div><!-- /.dynamic-grid -->
  </div><!-- /#GridCtrl -->
</div>
</section>
<!-- /#contentBoxApp -->

<!-- faq -->
<section id="faq" class="faq-section">
  <div class="container">
    <div class=""><h2>Meest gestelde vragen</h2></div>
    <div class="faq-content">
      <div class="faq-question">
        <input id="q1" type="checkbox" class="panel">
        <div class="plus">+</div>
        <label for="q1" class="panel-title">Hoe vind ik een ondernemer?</label>
        <div class="panel-content">
          <p>
            <span class="hilight">&nbsp;Stap 1&nbsp;</span>&nbsp;Klik rechtsonder op [ONTDEK]. Het scherm met een plattegrond verschijnt nu.
            <br/><span class="hilight">&nbsp;Stap 2&nbsp;</span>&nbsp;Boven in het scherm is een 'zoekveld'. Via het zoekveld zoek je op naam van een kleine ondernemer of op woorden zoals: lunch. Op het plattegrond ziet u groene pinpoints die overeenkomen met jouw zoekterm.
            <br/><span class="hilight">&nbsp;Stap 3&nbsp;</span>&nbsp;Klik je op een groene pinpoint en de naam van de ondernemer verschijnt.
            <br/><span class="hilight">&nbsp;Stap 4&nbsp;</span>&nbsp;Op de plattegrond ziet u uw locatie via het poppetje (Happy Ray) op de kaart.
          </p>
        </div>
      </div>

      <div class="faq-question">
        <input id="q2" type="checkbox" class="panel">
        <div class="plus">+</div>
        <label for="q2" class="panel-title">Hoe word ik fan van een ondernemer?</label>
        <div class="panel-content">
            <p>
              Bezoek jouw favoriete lokale ondernemers en voeg ze toe aan de Locanza app. Word fan en ontvang spaarpunten, persoonlijke cadeautjes en promoties van ondernemers. Scan hiervoor de QR-code van de ondernemer via de ‘Word fan’ button.
              <br/><span class="hilight">&nbsp;Stap 1&nbsp;</span>&nbsp;Klik rechtsboven op de button [Word fan]. Het scherm "Scan QR code' opent zich.
              <br/><span class="hilight">&nbsp;Stap 2&nbsp;</span>&nbsp;Vraag aan de ondernemer om de QR code van zijn promotie kanaal en richt je mobiel erop.
              <br/><span class="hilight">&nbsp;Stap 3&nbsp;</span>&nbsp;Er verschijnt de vraag of je de promotie kanaal wilt toevoegen. Klik op [JA] en de nieuwe promotie kanaal verschijnt in de lijst met alle andere favoriete promoties kanalen waar je fan van bent.
              Locanza!, je bent nu fan van je favorieten ondernemer en ontvangt exclusief promoties.
            </p>
        </div>
      </div>

      <div class="faq-question">
        <input id="q3" type="checkbox" class="panel">
        <div class="plus">+</div>
        <label for="q3" class="panel-title">Hoe bekijk ik een promotie?</label>
        <div class="panel-content">
          <p>
            Ontvang via de Locanza app lokale promoties, spaarpunten en cadeau ’s. Geef live feedback en beleef Locanza.
            <br/><span class="hilight">&nbsp;Stap 1&nbsp;</span>&nbsp;Op een promotie kanaal van elke ondernemer waar je fan van bent. Zie je een symbool van een 'belletje'. Zodra hier een rode stip op zit, heeft de ondernemer die je volgt een promotie gedeeld.
            <br/><span class="hilight">&nbsp;Stap 2&nbsp;</span>&nbsp;Klik op het [BELLETJE] en de product promotie verschijnt.
            <br/><span class="hilight">&nbsp;Stap 3&nbsp;</span>&nbsp;Klik links boven op de pijl naast het woordje 'promotie' om terug te gaan naar het hoofdscherm.
          </p>
          </div>
      </div>
    </div>

</div>
</section>
<!-- faq -->

<!-- Download -->
<!-- Contact -->
<section id="snelstarten" class="contact-section">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <h1>Snel starten</h1>
                <p class="steps" style="display:block;clear:both;text-align:left;margin-top:80px;">
                  <ol class="list-group horizontal-steps text-left">
                    <li class="list-group-item completed"><h3>Download</h3><span>Download de gratis Locanza app en maak een account aan.</span></li>
                    <li class="list-group-item completed"><h3>Zoek</h3> <span>Zoek binnen de Locanza app al jouw favoriete lokale ondernemers.</span></li>
                    <li class="list-group-item completed"><h3>Word fan</h3> <span>Bezoek of vind in de app jouw favoriete lokale ondernemers en voeg ze toe aan de Locanza app.</span></li>
                    <li class="list-group-item completed"><h3>Beleef</h3> <span>Ontvang via de Locanza app lokale promoties, spaarpunten en cadeau’s.</span></li>
                  </ol>

                </p>
              </div>

              <div class="col-lg-12">

                <p>Een account aanmaken via de app is super eenvoudig.<br/> Alleen jouw e-mail adres is nodig om je te registreren als gebruiker van de Locanza app.<br/><br/></p>
                <a href="https://apps.apple.com/nl/app/locanza/id1466501149?mt=8">
                  <img class="download" src="./assets/App-Store-Button.png" alt="Download iOS app"/>
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.locanza&hl=nl">
                  <img class="download" src="./assets/Google-Play-Button.png" alt="Download Android app"/>
                </a>
              </div>
        </div>

        <div class="row">
          <div class="col-md-12 aos-init aos-animate text-center" data-aos="">
            <a class="page-scroll " href="#page-top">
              <img src="./assets/welcome-locanza.png" class="img-fluid" style="width:250px;height:250px;margin-top:30px;margin-bottom:-80px;" alt="">
            </a>
          </div>
        </div>

    </div>
</section>
<!-- Download -->

<!-- Site footer -->
 <footer class="site-footer">
   <div class="container">
     <div class="row">
       <div class="col-sm-12 col-md-6">
         <h3>Missie</h3>
         <p class="text-justify">
           Locanza streeft er naar dat elk persoonlijk contact tussen kleinere lokale ondernemers en consument bijdraagt aan een lokaal moment van welvaart en geluk.
         </p>
       </div>

       <div class="col-xs-6 col-md-3">
         <h3>Links</h3>
         <ul class="footer-links">
           <li><a href="https://locanza.com/gebruik-van-de-app.html">Uitleg app</a></li>
           <li><a href="https://locanza.com/privacystatement.html">Privacystatement</a></li>
           <li><a href="https://locanza.com/algemenevoorwaarden.html">Algemene Voorwaarden</a></li>
         </ul>

         <div class="center">
          <div id="social">
            <ul>
              <li class="facebook">
                <a href="https://www.facebook.com/wordfan.nl/"><button class="border"><i class="fa fa-facebook"></i></button></a>
              </li>

              </ul>
            </div>
          </div>
       </div>

       <div class="col-xs-6 col-md-3">
         <h3>Contact</h3>
         <p>Kvknummer 71726381</p>
         <p>Ravelijn 50 </p>
         <p>8233BR Lelystad</p>
       </div>
     </div>
     <hr>
   </div>
   <div class="container">
     <div class="row">
       <div class="col-md-8 col-sm-6 col-xs-12">
         <p class="copyright-text">&copy; 2020 Alle rechten voorbehouden. Word Fan is een onderdeel van Locanza.com
         </p>
       </div>
       <div class="col-md-4 col-sm-6 col-xs-12">

       </div>
     </div>
   </div>
</footer>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js'></script>
  <script  src="./js/script.js"></script>
  <script  src="./js/scroll.js"></script>

</body>
</html>
